@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.flex-shrink-2 {
		flex-shrink: 2;
	}

	.h-9\/10 {
		height: 90%;
	}
}

.skip-button {
	@apply text-teal-300 px-4 py-1 border border-transparent rounded-lg;
}

.skip-button:hover {
	background-color: rgb(128, 230, 217, 0.05);
}

.skip-button:focus {
	@apply outline-none;
}

.song-box-container {
	@apply overflow-y-auto;
	height: 500px;
}

.chat-box-container {
	height: 500px;
}
